@font-face{
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff'),
  url('../fonts/roboto.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff') format('woff'),
  url('../fonts/robotobold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff') format('woff'),
  url('../fonts/robotomedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.base-link:hover,
.base-link:focus {
  color: #FB565A;
}

.base-link:active {
  color: #000000;
  opacity: 0.3;
}

.button {
  display: inline-block;

  padding: 16px 54px;

  color: #FFFFFF;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  background-color: #FB565A;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #E74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.main-header {
  display: flex;
  padding-top: 49px;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #EEEEEE;
}

.main-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1160px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-header__nav a {
  display: inherit;
  color: inherit;
  text-decoration: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  min-width: 440px;
}

.nav-list__item {
  display: block;

  padding-bottom: 10px;
  padding-right: 10px;
}

.nav-list__item:last-child {
  padding-right: 0;
}

.main-header__logo {
  margin-right: 202px;
}

.main-header__cart {
  display: flex;
  align-items: center;
  margin-left: 245px;
  padding-bottom: 10px;
}

.main-header__cart-img {
  padding-right: 25px;
}


.promo-container {
  background-color: #EEEEEE;
}

.promo {
  padding-left: 140px;
  padding-right: 140px;
}

.slider-item {
  padding-top: 78px;
  padding-bottom: 80px;

  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
}

.slider-item_expensive {
  background-image: url(../img/promo-slide_1.png);
}

.slider-item_mats {
  background-image: url(../img/promo-slide_2.png);
}

.slider-item_hardcore {
  background-image: url(../img/promo-slide_3.png);
}

.promo-text {
  max-width: 540px;
}

.promo-text_big {
  padding-bottom: 37px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.promo-text_small {
  padding-bottom: 28px;

  max-width: 416px;

  font-size: 16px;
  line-height: 24px;
}


.stack {
  padding-top: 80px;
  padding-left: 140px;
  padding-right: 140px;
}

.stack-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-bottom: 80px;

  border-bottom: 2px solid #EEEEEE;
}

.stack-item {
  max-width: 300px;
}

.stack-item:last-child {
  padding-right: 60px;
}

.stack-item__img {
  padding-bottom: 19px;
}

.stack-item__header {
  padding-bottom: 15px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.stack-item__text {
  padding-bottom: 33px;
  max-width: 260px;
}

.stack-item__button {
  padding-left: 40px;
  padding-right: 40px;
}

.stack-item__button_green {
  background-color: #00CA74;
}

.stack-item__button_green:hover,
.stack-item__button_green:focus {
  background-color: #00BC6C;
}

.stack-item__button_green:active {
  background-color: #00AA62;
}

.stack-item__button_yellow {
  background-color: #EFC849;
}

.stack-item__button_yellow:hover,
.stack-item__button_yellow:focus {
  background-color: #EAB534;
}

.stack-item__button_yellow:active {
  background-color: #E5A722;
}
